body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #fff;
  color: #434455;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3 {
  text-transform: capitalize;
  color: #2e2f42;
  margin: 0;
}

img {
  display: block;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.section-specific-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.container {
  max-width: 318px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ========== /COMMON STYLES =========== */

/* 
1x - 96dpi
2x - 192dpi
3x - 288dpi
*/

/* ========== MOBILE HEADER =========== */
.navigation-list {
  display: none;
}

.communication-info {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
  display: block;
}

.logo-link span {
  color: #2e2f42;
}

/* ========== /HEADER STYLES (mobile) =========== */

/* ============== MOBILE MENU ================ */
@media screen and (max-width: 767px) {
  .mobile-open-btn {
    border: none;
    background-color: transparent;
    stroke: #2e2f42;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: #fff;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 40px;
  }

  .mobile-menu-close-button {
    background-color: transparent;
    line-height: 0;
    padding: 8px;
    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.1);
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .mobile-menu-navigation {
    padding-top: 72px;
  }

  .mobile-menu-item {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 40px;
  }

  .mobile-menu-item:first-child {
    color: #404bbf;
  }

  .mobile-menu-item:hover,
  .mobile-menu-item:focus {
    color: #404bbf;
  }

  .mobile-communication-list-item:not(:last-child) {
    color: #4d5ae5;
  }

  .mobile-communication-list-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    font-style: bold;
    font-style: normal;
    margin-bottom: 24px;
  }

  .mobile-communication-list-item:hover,
  .mobile-communication-list-item:focus {
    color: #404bbf;
  }

  .mobile-menu-social {
    margin-top: 48px;
    display: flex;
    gap: 40px;
  }

  .mobile-menu-social-link {
    background-color: #4d5ae5;
    line-height: 0;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }

  .mobile-menu-social-link:hover,
  .mobile-menu-social-link:focus {
    background-color: #404bbf;
  }

  /* ============== MOBILE TACTIC =============== */
}

/* ============== SECTION HERO MOBILE ================ */

.section-hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-section/hero-mobile.jpg);
  background-size: cover;
  padding: 72px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2ddpx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-mobile@2x.jpg);
  }
}

.main-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #fff;
  max-width: 200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}

.hero-button {
  /* text */
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  cursor: pointer;
  text-transform: capitalize;
  background-color: #4d5ae5;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-style: none;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/* ============== /SECTION HERO MOBILE ================ */

/* ============== SECTION TACTIC MOBILE ================ */

.section-tactic {
  padding: 96px 0;
}

.tactic-icon {
  display: none;
}

.tactic-list-item:not(:last-child) {
  margin-bottom: 72px;
}

.section-specific-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.tactic-list-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

/* ============== /SECTION TACTIC MOBILE ================ */

/* ============== SECTION TEAM MOBILE ================ */
.section-team {
  background-color: #f4f4fd;
  text-transform: capitalize;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-list-item {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.mobile-specific-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.team-list-text-content {
  padding: 32px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-name-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-list-text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-social-link {
  display: flex;
  line-height: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}
/* ============== /SECTION TEAM MOBILE ================ */

/* ============== SECTION PORTFOLIO MOBILE ================ */

.section-portfolio {
  text-transform: capitalize;
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-list-item {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item img {
  width: 100%;
  height: 100%;
}

.portfolio-list-item-image {
  position: relative;
  overflow: hidden;
}

.mobile-specific-title {
  text-align: left;
}

.portfolio-list-text-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item-overlay {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  padding: 40px 32px;
  letter-spacing: 0.02em;
  height: 100%;
  width: 100%;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-list-item-overlay {
  transform: translateY(0%);
}
/* ============== /SECTION PORTFOLIO MOBILE ================ */

/* ============== FOOTER MOBILE ================ */

.section-footer {
  background-color: #2e2f42;
  padding: 96px 0;
  color: #f4f4fd;
}

.footer-logo-link {
  color: #4d5ae5;
  margin-bottom: 16px;
  padding: 0;
  display: block;
  text-align: center;
  margin-right: 0;
}

.footer-logo-link span {
  color: #f4f4fd;
}

.footer-logo-text {
  margin-bottom: 72px;
}

.footer-text {
  max-width: 288px;
}

.footer-socials {
  margin-bottom: 72px;
}

.footer-socials-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-list-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  line-height: 0;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-social-link:hover,
.footer-list-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.footer-subscribe-field {
  background-color: transparent;
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5; /* 200% */
  letter-spacing: 0.04em;
}

.footer-subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  fill: #ffffff;
  cursor: pointer;
}

.footer-subscribe-icon {
  margin-left: 16px;
}

/* ============== /FOOTER MOBILE ================ */

/* ============== BACKDROP MOBILE ================ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 24px;
  padding-top: 72px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  line-height: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  stroke: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #fff;
  stroke: #fff;
  border: none;
}

.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.review-from-field-wrapper {
  margin-bottom: 8px;
}

.review-form-textarea-wrapper {
  margin-bottom: 16px;
}

.review-form-field-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.review-form-input-wrapper {
  position: relative;
}

.review-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.review-form-field:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-field:focus + .review-form-field-icon {
  fill: #4d5ae5;
}

.review-form-field-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
}

.review-form-message::placeholder {
  color: #8e8f99;
}

.review-form-message:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  text-align: center;
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.review-form-own-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  fill: #f4f4fd;
  border: none;
  background-color: #404bbf;
}

.review-form-checkbox:focus
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  outline: 2px solid;
}

.review-form-button {
  display: block;
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  margin: 0 auto;
  margin-bottom: 24px;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-button:hover,
.review-form-button:focus {
  background-color: #404bbf;
}
/* ============== /BACKDROP MOBILE ================ */

/* ========== TABLET =========== */
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    padding: 0;
  }

  /* ============= TABLET HEADER ============== */

  .navigation {
    display: flex;
  }

  .navigation-list {
    text-transform: capitalize;
    color: #2e2f42;
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .logo-link {
    padding: 25.5px 0;
    margin-right: 120px;
  }

  .navigation-list-link {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    font-weight: 500;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 20px;
    padding-top: 24px;
  }

  .navigation-list-item:first-child {
    color: #404bbf;
  }

  .navigation-list-link:hover,
  .navigation-list-link:focus {
    color: #404bbf;
  }

  .active-page-underline::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .communication-info {
    display: flex;
  }

  .communication-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .communication-list-item {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
  }

  .communication-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .communication-list li:hover,
  .communication-list li:focus {
    color: #404bbf;
  }

  .mobile-menu-wrapper {
    display: none;
  }

  .mobile-open-btn {
    display: none;
  }

  /* ============== SECTION HERO TABLET ============= */
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-tablet.jpg);
    padding: 112px 0;
  }

  .main-title {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 36px;
  }

  /* ============== /SECTION HERO TABLET ============= */

  /* ============== SECTION TACTIC TABLET ============= */

  .section-tactic {
    padding: 96px 0;
  }

  .tactic-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    align-items: center;
  }

  .tactic-list-item {
    width: calc((100% - 24px) / 2);
  }

  .tactic-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .section-specific-title {
    text-align: left;
  }

  /* ============== /SECTION TACTIC TABLET ============= */

  /* ============== SECTION TEAM TABLET ============= */

  .section-team {
    padding: 96px 0;
  }

  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-list-item {
    background-color: #ffffff;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .team-list-text-content {
    padding: 32px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-name-title {
    text-align: center;
    margin-bottom: 8px;
  }

  .team-list-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
  }

  .team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .team-social-link {
    display: flex;
    line-height: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
  }
  /* ============== /SECTION TEAM TABLET ============= */

  /* ============== SECTION PORTFOLIO TABLET ============= */

  .section-portfolio {
    text-transform: capitalize;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-list-item {
    border: 1px solid var(--CORNFLOWER, #e7e9fc);
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-list-item img {
    width: 100%;
    height: 100%;
  }

  .portfolio-list-item-image {
    position: relative;
    overflow: hidden;
  }

  .portfolio-list-text-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .portfolio-list-item-overlay {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px 32px;
    letter-spacing: 0.02em;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover .portfolio-list-item-overlay {
    transform: translateY(0%);
  }

  /* ============== /SECTION PORTFOLIO TABLET ============= */
  /* ============== FOOTER TABLET ============= */

  .section-footer {
    background-color: #2e2f42;
    padding: 96px 0;
    color: #f4f4fd;
  }

  .footer-logo-link {
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
    padding: 0;
  }

  .footer-logo-link span {
    color: #f4f4fd;
  }

  .footer-text {
    max-width: 264px;
    margin-bottom: 0;
  }

  .footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .footer-content.container {
    max-width: 584px;
  }

  .footer-logo-text {
    margin-right: 24px;
  }

  .footer-socials {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .footer-socials-list {
    display: flex;
    gap: 16px;
  }

  .footer-socials-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: left;
  }

  .footer-socials-list-item {
    width: 40px;
    height: 40px;
  }

  .footer-list-social-link {
    width: 40px;
    height: 40px;
    display: flex;
    line-height: 0;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-list-social-link:hover,
  .footer-list-social-link:focus {
    background-color: #31d0aa;
  }

  .footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: left;
  }

  .footer-subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-subscribe-field {
    background-color: transparent;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5; /* 200% */
    letter-spacing: 0.04em;
  }

  .footer-subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #4d5ae5;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    fill: #ffffff;
    cursor: pointer;
  }

  .footer-subscribe-icon {
    margin-left: 16px;
  }

  /* ============== /FOOTER TABLET ============= */

  /* ============== BACKDROP TABLET ============= */
  .modal {
    width: 408px;
    min-height: 584px;
  }
  /* ============== /BACKDROP TABLET ============= */
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2ddpx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-tablet@2x.jpg);
  }
}

/* ========== LAPTOP =========== */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation-list {
    display: flex;
  }

  .communication-info {
    display: flex;
  }

  .communication-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .communication-list-item {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
  }

  .communication-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .communication-list li:hover,
  .communication-list li:focus {
    color: #404bbf;
  }

  /* ============== SECTION HERO DESKTOP ============= */
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-desktop.jpg);
  }

  .section-hero {
    padding: 188px 0;
  }

  .main-title {
    margin-bottom: 48px;
  }
  /* ============== /SECTION HERO DESKTOP ============= */

  /* ============== SECTION TACTIC DESKTOP ============= */
  .section-tactic {
    padding: 120px 0;
  }

  .tactic-icon-container {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
  }

  .tactic-icon {
    display: block;
  }

  .tactic-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .tactic-list-item-text {
    font-weight: 400;
  }

  .tactic-list-item {
    width: calc((100% - 72px) / 4);
  }

  .section-specific-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }
  /* ============== /SECTION TACTIC DESKTOP ============= */

  /* ============== SECTION TEAM DESKTOP ============= */

  .section-team {
    background-color: #f4f4fd;
    text-transform: capitalize;
    padding: 120px 0;
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 24px;
  }

  .team-list-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .team-list-text-content {
    padding: 32px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-name-title {
    text-align: center;
    margin-bottom: 8px;
  }

  .team-list-text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
  }

  .team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .team-social-link {
    display: flex;
    line-height: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
  }

  /* ============== /SECTION TEAM DESKTOP ============= */

  /* ============== SECTION PORTFOLIO DESKTOP ============= */
  .section-portfolio {
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-list-item {
    border: 1px solid var(--CORNFLOWER, #e7e9fc);
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-list-item img {
    width: 100%;
    height: 100%;
  }

  .portfolio-list-item-image {
    position: relative;
    overflow: hidden;
  }

  .portfolio-list-text-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .portfolio-list-item-overlay {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px 32px;
    letter-spacing: 0.02em;
    height: 100%;
    width: 100%;
    background-color: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover .portfolio-list-item-overlay {
    transform: translateY(0%);
  }

  /* ============== /SECTION PORTFOLIO DESKTOP ============= */

  /* ============== FOOTER DESKTOP ============= */
  .section-footer {
    background-color: #2e2f42;
    padding: 100px 0;
    color: #f4f4fd;
  }

  .footer-logo-link {
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
  }

  .footer-logo-link span {
    color: #f4f4fd;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-content.container {
    max-width: 1128px;
  }

  .footer-content {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    padding-left: 0;
  }

  .footer-logo-text {
    margin-right: 120px;
    margin-bottom: 0;
  }

  .footer-socials {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
  }

  .footer-socials-list {
    display: flex;
    gap: 16px;
  }

  .footer-socials-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .footer-socials-list-item {
    width: 40px;
    height: 40px;
  }

  .footer-list-social-link {
    width: 40px;
    height: 40px;
    display: flex;
    line-height: 0;
    border-radius: 50%;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-list-social-link:hover,
  .footer-list-social-link:focus {
    background-color: #31d0aa;
  }

  .footer-subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .footer-subscribe-form {
    display: flex;
    gap: 24px;
  }

  .footer-subscribe-field {
    background-color: transparent;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5; /* 200% */
    letter-spacing: 0.04em;
  }

  .footer-subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border-radius: 4px;
    background-color: #4d5ae5;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    font-family: "Roboto", sans-serif;
    fill: #ffffff;
    cursor: pointer;
  }

  .footer-subscribe-icon {
    margin-left: 16px;
  }
  /* ============== /FOOTER DESKTOP ============= */
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2ddpx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-section/hero-desktop@2x.jpg);
  }
}
